body {
    background-color: #E8E8E8;
}

img.headimage{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img.best-worst-image{
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

form.search {
    width: 400px;
    margin: 50px auto;
}

form.search input.form-control {
    margin-bottom: 5px;
}

form.search input.btn {
    margin-top: 15px;
}

form.signin {
    width: 450px;
    margin: 50px auto;
    padding: 5px
}

form.signin input.form-control {
    margin-bottom: 5px;
}

form.signin input.btn {
    margin-top: 15px;
}

form.wall_post {
    width: 500px;
    margin: 10px auto;
}
form.wall_post input.btn {
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


div.search-box {
    background-color: #F8F8F8;
    margin: 10px auto;
    width: 500px;
    padding: 1px;
    border-radius: 5px;
    border-color: black;
}

div.search-options{
    height: 375px;
}
div.best-and-worst {
    background-color: white;
}

div#starwood-best{
    border-radius: 5px;
    border: 5px;
    float: left;
    width: 250px;
}

div#hyatt-best{
    border-radius: 5px;
    border: 5px;
    float: right;
    width: 250px;
}


h2 {
    margin: 10px auto;
    text-align: center;
    padding: 20px;

}

div#destination{
    float: left;
}

div#category{
    float: right
    }


form.input[type="radio"] {
    margin-right: 20px;
}

#form_ratings {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
}

form h3 {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

div.hotel-box{
    border: 1px solid;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

img.hotelimage{
    float: right;
    padding-right: 10px;
    padding-top: 8px;
    height: 180;
}

