.form-control {
    margin-bottom: 5px;
}

.best-worst-image{
    width: auto;
    height: 128px;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.best-worst-box{
	border: 3px solid #E0E0E0;
	border-radius: 5px;
	margin: 0px 5px 0px 5px;
	text-align: center
}

.search-heading{
	text-align: center;
}

.lefty-stuff{
	text-align: left;
}

.hotelimage{
	width: auto;
    height: 230px;
    max-width: 98%;
    overflow:hidden;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.outline-box{
	border: 3px solid #E0E0E0;
	border-radius: 5px;
	margin: 2px 2px 2px 2px;
	text-align: center;
	margin-bottom: 20px;
}


