<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Resorio - Multi Chain Hotel Search with Loyalty Points</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/newmain.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">
    <link href="static/css/datepicker.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Rosario:700italic' rel='stylesheet' type='text/css'>
  <style type="text/css"></style></head>

  <body>

<!--     <div>
      <img src="static/images/banner.png">
    </div> -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/"><b><i>Resorio</i></b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cpp">Value of a Point</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <p class="lead">Easily compare redemptions. Unlock the <strong>value</strong> of your points.</p>
      </div>

        {% for message in get_flashed_messages() %}
              <div class="alert alert-danger">
          {{message}}</div>
        {% endfor %}

    <div class="row">
        <div class="col-md-4">    <form class="search inline" action="{{url_for('index')}}" method="POST">
        <h2 class="search-heading">Search by Destination</h2>


        <input type="text" class="form-control" placeholder="Search a City" id="city-destination" name="search">
        <!-- Going to need to add date popup stuff and restrictions on checkin checkout dates -->
        <div class="row">
          <div class="col-xs-6">
         <input type="text" class="form-control" id="dpd1" name="checkin" placeholder="Check in"/> 
        </div>
        <div class="col-xs-6">
        <input type="text" class="form-control" id="dpd2" name="checkout" placeholder="Check out"/>
        </div>
        </div>
        <br> 
        <input type="submit" class="btn-lg btn-primary btn-block btn-success" value="Search" >
    </form></div>
        <div class="col-md-4"><form class="search" method="GET" action="{{url_for('point_search')}}">
        <h2 class="search-heading">Search Point Options</h2>

        <select class="form-control" placeholder="Pick a Brand" name="pointsbrand">
    <option>Pick a Brand</option>
    <option>Hilton</option>
    <option>Hyatt</option>
    <option>Marriott</option>
    <option>Starwood</option>
    </select>
        <input type="text" class="form-control" placeholder="Enter Your Points" name="points">
        <br> 
        <input type="submit" class="btn-lg btn-primary btn-block btn-success" value="Compare" >
    </form></div>
        <div class="col-md-4">    <form class="search" method="GET" action="{{url_for('cat_search')}}">
        <h2 class="search-heading">Search by Hotel Category</h2>
                <div class="row">
          <div class="col-xs-8">
        <select class="form-control" placeholder="Pick a Brand" name="catbrand">
            <option>Pick a Brand</option>
            <option>Hilton</option>
            <option>Hyatt</option>
            <option>Marriott</option>
            <option>Starwood</option>
  </select>
        </div>
        <div class="col-xs-4">
        <select class="form-control" placeholder="Category" name="catnumber">
          <option>Category</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
         </select>
      </div>
    </div>
        <!-- Going to need to add date popup stuff and restrictions on checkin checkout dates -->
        <div class="row">
          <div class="col-xs-6">
         <input type="text" class="form-control" id="dpd3" name="catcheckin" placeholder="Check in"/> 
       </div>
       <div class="col-xs-6">
        <input type="text" class="form-control" id="dpd4" name="catcheckout" placeholder="Check out"/>
      </div>
    </div>
        <br> 
        <input type="submit" class="btn-lg btn-primary btn-block btn-success" value="Explore" >
    </form></div>
      </div>

      <div class="starter-template">
        <h1>Smart Redemptions</h1>
        <p class="lead">Beat the Odds. Maximize your Cents Per Point.</p>
      </div>

    <div class="row show-grid">
      <div class="col-md-3">  <div class="best-worst-box">
<h4>{{BW['Best']['Starwood']['name']|replace("&apos;","'")|replace("&amp;","&")}}</h4>
        <img class="best-worst-image img-responsive" src="http://images.travelnow.com/{{BW['Best']['Starwood']['photo']}}">
        <p>Hotel Cents Per Point: {{BW['Best']['Starwood']['cpp']|round(1)}} <br>SPG Average CPP: {{StarwoodCPP|round(1)}}
        </p> 
      </div></div>
      <div class="col-md-3">  <div class="best-worst-box">          <h4>{{BW['Best']['Hyatt']['name']|replace("&apos;","'")|replace("&amp;","&")}}</h4>
        <img class="best-worst-image img-responsive" src="http://images.travelnow.com/{{BW['Best']['Hyatt']['photo']}}">
        <p>Hotel Cents Per Point: {{BW['Best']['Hyatt']['cpp']|round(1)}} <br>Hyatt Average CPP: {{HyattCPP|round(1)}}
        </p></div></div>

      <!-- Add the extra clearfix for only the required viewport -->
<!--       <div class="clearfix visible-xs"></div> -->

      <div class="col-md-3">  <div class="best-worst-box">
        <h4>{{BW['Best']['Marriott']['name']|replace("&apos;","'")|replace("&amp;","&")}}</h4>
        <img class="best-worst-image img-responsive" src="http://images.travelnow.com/{{BW['Best']['Marriott']['photo']}}">
        <p>Hotel Cents Per Point: {{BW['Best']['Marriott']['cpp']|round(1)}} <br>Marriott Average CPP: {{MarriottCPP|round(1)}}
        </p> </div></div>
      <div class="col-md-3">  <div class="best-worst-box"><h4>{{BW['Best']['Hilton']['name']|replace("&apos;","'")|replace("&amp;","&")}}</h4>
        <br>
        <img class="best-worst-image img-responsive" src="http://images.travelnow.com/{{BW['Best']['Hilton']['photo']}}">
        <p>Hotel Cents Per Point: {{BW['Best']['Hilton']['cpp']|round(1)}} <br>Hilton Average CPP: {{HiltonCPP|round(1)}}
        </p></div></div>
    </div>
  </br>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-2.1.0.js"></script>
   <script src="/static/js/bootstrap-datepicker.js"></script>
     <script>
  if (top.location != location) {
  top.location.href = document.location.href ;
  }
    $(function(){
      window.prettyPrint && prettyPrint();
    // disabling dates
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#dpd1').datepicker({
      onRender: function(date) {
      return date.valueOf() < now.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      if (ev.date.valueOf() > checkout.date.valueOf()) {
      var newDate = new Date(ev.date)
      newDate.setDate(newDate.getDate() + 1);
      checkout.setValue(newDate);
      }
      checkin.hide();
      $('#dpd2')[0].focus();
    }).data('datepicker');
    var checkout = $('#dpd2').datepicker({
      onRender: function(date) {
      return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      checkout.hide();
    }).data('datepicker');

    var catcheckin = $('#dpd3').datepicker({
      onRender: function(date) {
      return date.valueOf() < now.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      if (ev.date.valueOf() > catcheckout.date.valueOf()) {
      var newDate = new Date(ev.date)
      newDate.setDate(newDate.getDate() + 1);
      catcheckout.setValue(newDate);
      }
      catcheckin.hide();
      $('#dpd4')[0].focus();
    }).data('datepicker');
    var catcheckout = $('#dpd4').datepicker({
      onRender: function(date) {
      return date.valueOf() <= catcheckin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      catcheckout.hide();
    }).data('datepicker');
    });


  </script> 

  

</body></html>