<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Resorio - Multi Chain Hotel Search with Loyalty Points</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/newmain.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">
    <link href="static/css/datepicker.css" rel="stylesheet">

  <style type="text/css"></style></head>

  <body>

<!--     <div>
      <img src="static/images/banner.png">
    </div> -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand logo" href="/"><b><i>Resorio</i></b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cpp">Value of a Point</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <div class="col-md-8"><div class="spacing"><form class="search form-inline" method="GET" action="{{url_for('search_results')}}"></div>
            <div class="col-md-3">

        <input type="text" class="form-control form-inline nav-smaller" placeholder="Destination" name="city" default="{{city}}">
      </div>
            <div class="col-md-3">
         <input type="text" class="form-control nav-smaller" id="dpd1" name="checkin" placeholder="Check in" default="{{checkin}}"/> 
        </div>
        <div class="col-md-3">
        <input type="text" class="form-control nav-smaller" id="dpd2" name="checkout" placeholder="Check out" default="{{checkout}}"/>
        </div>
        <div class="col-md-3">
        <input type="submit" class="btn btn-success" value="Search" >
      </div>
    </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
    <div class="container">

      <div class="starter-template">
	<h1>Hotels in {{city}}<br>
		<small> {{checkin}} - {{checkout}}</small></h1>
	</div>

	{% for hotel in hotel_list %}

	<div class="hotel-box">
	<div class="outer-image-box col-md-4">
	<div class="outline-box">
	<img class="hotelimage" src="http://images.travelnow.com/{{hotel['thumbNailUrl']}}">
<!-- 	</div> -->
	<h4>{{hotel["name"]|replace("&apos;","'")|replace("&amp;","&")}}</h4>
  <h5>{{hotel["program"]}} Category {{hotel["category"]}}</h5>
<!-- 	{% if hotel["name"]|length <= 39 %}
	<br>
	{% endif %} -->
	{% if hotel['tripAdvisorRatingUrl'] %}
	TripAdvisor: <img src="{{hotel['tripAdvisorRatingUrl']}}">
	{% endif %}
	<br>
	Average Nightly Rate: ${{hotel["avgbaserate"]|int}}</br>
	Trip Total After Taxes: ${{hotel["totalcost"]|int}}<br>
	Points Per Night: {{hotel["points"]}}<br>
	Total Point Cost: {{hotel["totalpoints"]}}<br> 
<!-- 	<br>{% if hotel["fifthfree"] %}
    You get every fifth points night free with {{hotel["program"]}}!
    <br>
    {% endif %} -->
	Cents Per Point: {{hotel["cpp"]|round(1)}}
	{% if (20/10)*CPP_dictionary[hotel["program"]] <= hotel["cpp"] %}
	<span class="label label-success">Great</span>
	{% endif %}
	{% if (20/10)*CPP_dictionary[hotel["program"]] > hotel["cpp"] %}
	{% if (12/10)*CPP_dictionary[hotel["program"]] <= hotel["cpp"] %}
	<span class="label label-info">Good</span>
	{% endif %}{% endif %}	 
	{% if (12/10)*CPP_dictionary[hotel["program"]] > hotel["cpp"] %}
	{% if (8/10)*CPP_dictionary[hotel["program"]] <= hotel["cpp"] %}
	<span class="label label-warning">Average</span>
	{% endif %}{% endif %}	 
	{% if (8/10)*CPP_dictionary[hotel["program"]] > hotel["cpp"] %}
	<span class="label label-danger">Bad</span>
	{% endif %}
	<br>
	<a target="_blank" href="http://www.travelnow.com/templates/455248/hotels/{{hotel['hotelId']}}/overview?roomsCount=1&rooms[0].adultsCount=1&rooms[0].childrenCount=0&checkin={{checkin}}&checkout={{checkout}}&currency=USD&currencySymbol=%24&lang=en">More Information</a><br>
	<a target="_blank" href='http://{{hotel["website"]|replace("http://","")}}'>Book with {{hotel["program"]}}</a>
	</div>
</div>
</div>
		{% if (loop.index) is divisibleby 3 %}

	<div style="clear:both"></div>
	{% endif %}

	{% endfor %}
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-2.1.0.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
     <script>
  if (top.location != location) {
  top.location.href = document.location.href ;
  }
    $(function(){
      window.prettyPrint && prettyPrint();
    // disabling dates
    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#dpd1').datepicker({
      onRender: function(date) {
      return date.valueOf() < now.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      if (ev.date.valueOf() > checkout.date.valueOf()) {
      var newDate = new Date(ev.date)
      newDate.setDate(newDate.getDate() + 1);
      checkout.setValue(newDate);
      }
      checkin.hide();
      $('#dpd2')[0].focus();
    }).data('datepicker');
    var checkout = $('#dpd2').datepicker({
      onRender: function(date) {
      return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      checkout.hide();
    }).data('datepicker');

    var catcheckin = $('#dpd3').datepicker({
      onRender: function(date) {
      return date.valueOf() < now.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      if (ev.date.valueOf() > catcheckout.date.valueOf()) {
      var newDate = new Date(ev.date)
      newDate.setDate(newDate.getDate() + 1);
      catcheckout.setValue(newDate);
      }
      catcheckin.hide();
      $('#dpd4')[0].focus();
    }).data('datepicker');
    var catcheckout = $('#dpd4').datepicker({
      onRender: function(date) {
      return date.valueOf() <= catcheckin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function(ev) {
      catcheckout.hide();
    }).data('datepicker');
    });


  </script> 


	</body>
</html>