<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Resorio - Multi Chain Hotel Search with Loyalty Points</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/newmain.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">
    <link href="static/css/datepicker.css" rel="stylesheet">

  <style type="text/css"></style></head>

  <body>

<!--     <div>
      <img src="static/images/banner.png">
    </div> -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
 <a class="navbar-brand logo" href="/"><b><i>Resorio</i></b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cpp">Value of a Point</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
	<h1>Hotel Points 101<br>
	<soft></soft></h1>
  <br>
	<div>
	<p class="lefty-stuff">Hotel points are a loyalty currency similar to frequent flyer miles.  You can earn hotel points through staying at the hotel, through promotions and through obtaining and spending on hotel credit cards.  Hotel points can be redeemed in various ways, from low value magazinge subscriptions, to in-hotel amenities, or even transfers to airmiles.  Typically, the most lucrative way to redeem points is for free nights (or, when available, cash and point nights).  Unlike airline miles, the default state for hotel point redemptions is that they're generally available.</p>
	<p class="lefty-stuff">How many points a given hotel room costs is determined by the hotel category.  All the chains use categories that require an increasing number of points to redeem.  A Category 1 hotel is the cheapest, and the highest category is the most expensive.  Within a category, even though the redemption rates will be the same, the cash cost will vary widely.  Hotels in cities are often more expensive on weeknights and resort hotels are more expensive on weekends, however the point cost will be the same for all nights of the week.  As such, to redeem smartly, you want to use your points when the cash cost is as high as possible.
  </p>
  <p class="lefty-stuff">The fastest and easiest way to compare redemptions (and the most common metric used in the frequent traveller community) is cents per point.  Cents per point (CPP) is equal to the cost of the room in cash, divided by the number of points it costs, multiplied by 100.</p>
</div>

<h3>Point Cost Across Brands</h3>
<table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Starwood</th>
          <th>Hyatt</th>
          <th>Hilton</th>
          <th>Marriott</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>3000</td>
          <td>5000</td>
          <td>7500</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4000</td>
          <td>8000</td>
          <td>10000</td>
          <td>10000</td>
        </tr>
        <tr>
          <td>3</td>
          <td>7000</td>
          <td>12000</td>
          <td>15000</td>
          <td>20000</td>
        </tr>
                <tr>
          <td>4</td>
          <td>10000</td>
          <td>15000</td>
          <td>20000</td>
          <td>20000-30000</td>
        </tr>
                <tr>
          <td>5</td>
          <td>12000</td>
          <td>20000</td>
          <td>25000</td>
          <td>30000-40000</td>
        </tr>
                <tr>
          <td>6</td>
          <td>20000</td>
          <td>25000</td>
          <td>30000</td>
          <td>30000-50000</td>
        </tr>
                <tr>
          <td>7</td>
          <td>30000</td>
          <td>30000</td>
          <td>35000</td>
          <td>30000-60000</td>
        </tr>
                <tr>
          <td>8</td>
          <td>--</td>
          <td>--</td>
          <td>40000</td>
          <td>40000-70000</td>
        </tr>
                <tr>
          <td>9</td>
          <td>--</td>
          <td>--</td>
          <td>45000</td>
          <td>50000-80000</td>
        </tr>
                <tr>
          <td>10</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>70000-95000</td>
        </tr>
      </tbody>
    </table>


    </div>
  </br>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-2.1.0.js"></script>
  
  </body>
</html>