<html>
    <head>
        <title>Hotel Point Search</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
<!--     <img class="headimage" src="http://drive.google.com/uc?export=view&id=0B3QiSf01CUcnNldMREJhN085VW9LcVI3bS0yeEtEOTlEM2pj" align="left" /> -->
<div class="container">
    <a href="/">Home</a> | <a href="/cpp">Value of a Point</a> | <a href="/login">Log in</a> | <a href="/register">Register</a> 
            {% block body %}{% endblock %}
</div>
    </body>
</html>