<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Resorio - Multi Chain Hotel Search with Loyalty Points</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/newmain.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">
    <link href="static/css/datepicker.css" rel="stylesheet">

  <style type="text/css"></style></head>

  <body>

<!--     <div>
      <img src="static/images/banner.png">
    </div> -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand logo" href="/"><b><i>Resorio</i></b></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cpp">Value of a Point</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a><li></ul>  
    <!--/.nav-collapse -->
        <div class="col-md-8"><br><form class="search form-inline" method="GET" action="{{url_for('point_search')}}">
        <select class="form-control form-inline nav-search" placeholder="Pick a Brand" name="pointsbrand" default="{{brand}}">
    <option>Pick a Brand</option>
    <option>Hilton</option>
    <option>Hyatt</option>
    <option>Marriott</option>
    <option>Starwood</option>
    </select>
        <input type="text" class="form-control form-inline" placeholder="Enter Your Points" name="points" default="{{points}}">
        <input type="submit" class="btn btn-success" value="Compare" >
    </form>
      
        </div>
  </div>
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
      <h1>{{brand}} Redemption Options<br>
             <small> {{points}} Points</small></h1>
       
	</div>
{% for category in category_list %}
     <h2 class="category-nights">{{options[loop.index]}} Night{% if options[loop.index] > 1 %}s{% endif %}

      in a Category {{loop.index}}</h2>
{% for hotel in category_list[(loop.index -1)] %}
<div class="hotel-box">
  <div class="outer-image-box col-xs-4">
  <div class="outline-box">
  <img class="hotelimage" src="http://images.travelnow.com/{{hotel['thumbNailUrl']}}">
<!--  </div> -->
  <h4>{{hotel["name"]|replace("&apos;","'")|replace("&amp;","&")}}</h4>
<!--  {% if hotel["name"]|length <= 39 %}
  <br>
  {% endif %} -->
  {% if hotel['tripAdvisorRatingUrl'] %}
  TripAdvisor: <img src="{{hotel['tripAdvisorRatingUrl']}}">
  {% endif %}
  <br>
  <a href="http://www.travelnow.com/templates/455248/hotels/{{hotel['hotelId']}}/overview?roomsCount=1&rooms[0].adultsCount=1&rooms[0].childrenCount=0&checkin={{checkin}}&checkout={{checkout}}&currency=USD&currencySymbol=%24&lang=en">More Information</a><br>
  <a href='http://{{hotel["website"]|replace("http://","")}}'>{{hotel["program"]}} Website</a>
</div>
</div>
</div>

{% endfor %}
  <div style="clear:both"></div>
	{% endfor %}
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-2.1.0.js"></script>

	</body>
</html>