<html>
	<head>
		{% extends 'master.html' %}
	</head>
	<body>
	{% block body %}

	<div>
	<h3>Hotels in {{city}}<br>
		<small> {{checkin}} - {{checkout}}</small></h3>
	</div>

	{% for hotel in hotel_list %}
	<div class="hotel-box">
	<div class="outer-image-box">
	<div class="hotel-image-box">
	<img class="hotelimage" src="http://images.travelnow.com/{{hotel['thumbNailUrl']}}">
	</div>
	</div>
	<strong>{{hotel["name"]|replace("&apos;","'")|replace("&amp;","&")}}</strong>
	<br>
	TripAdvisor: <img src="{{hotel['tripAdvisorRatingUrl']}}">
	<br>
	Average Nightly Rate: ${{hotel["avgbaserate"]|int}}</br>
	Trip Total After Taxes: ${{hotel["totalcost"]|int}}
	<br>
	Points Per Night: {{hotel["points"]}}<br>
	Total Point Cost: {{hotel["totalpoints"]}} 
	<br>{% if hotel["fifthfree"] %}
    You get every fifth points night free with {{hotel["program"]}}!
    <br>
    {% endif %}
	Cents Per Point: {{hotel["cpp"]|round(1)}}
	<br>
	<a href="http://www.travelnow.com/templates/455248/hotels/{{hotel['hotelId']}}/overview?roomsCount=1&rooms[0].adultsCount=1&rooms[0].childrenCount=0&checkin={{checkin}}&checkout={{checkout}}&currency=USD&currencySymbol=%24&lang=en">Book with Travel Now</a><br>
	<a href='http://{{hotel["website"]|replace("http://","")}}'>Book with {{hotel["program"]}}</a>
	</div>
	<br>
	{% endfor %}
	
	{% endblock %}
	<script src="/static/js/jquery-2.1.0.js"></script>
	</body>
</html>